/* Stylesheet for the profile section */

/* Pitch message color: #362285*/
/* Navbar text & border color: #565657*/
/* Navbar & Button Hover white & Section header color: #f1f0f5*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300;400;500&family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');

#profile {
  width: 90vw;
  height: fit-content;
  margin: 2rem auto;
}

/* User Details Profile Card */

#profile > .user-details {
  background-color: rgba(241, 240, 245, .7);
  color: #362285;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
  border-top-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

#profile > .user-details > span {
  display: block;
  font-size: 2.2rem;
  line-height: 3rem;
  letter-spacing: .4rem;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

@media (max-width: 480px) {
  
  #profile > .user-details {
    width: 80%;
  }
  
  #profile > .user-details > span {
    font-size: .9rem;
    font-weight: 700;
  }
}

/* User files container styles */

#profile > .user-files {
  border: 1px solid #362285;
  border-radius: 2rem;
  width: 90%;
  height: 50vh;
  margin: 2rem auto;
  padding: 1.5rem;
  overflow: auto;
}


#profile > .user-files > .user-file-card {
  height: 5rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(241, 240, 245, .5);
  border-radius: .4rem;
}

#profile > .user-files > .user-file-card .name {
  width: 50%;
  padding: .7rem;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-family: 'Fira Sans', sans-serif;
  margin: 0 1rem;
}

#profile > .user-files > .user-file-card .copy {
  margin: 0 1rem;
}

#profile > .user-files > .user-file-card .copy > button {
  background-color: rgba(241, 240, 245, .5);
  color: #362285; 
  border: 0;
  font-size: 2.1rem; 
}

.button-clicked {
  color: #222222 !important;
}

#profile > .user-files > .user-file-card .goto {
  margin: 0 1rem;
}

#profile > .user-files > .user-file-card .goto > a {
  background-color: rgba(241, 240, 245, .5);
  color: #362285;
  font-size: 2.1rem;
}